<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">
    <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1 class="title">{{ restaurant.name }}</h1>
            <h2 class="title">Delete: {{ item.name }}</h2>
        </div>
        <div class="content">

            <form class="section" action="#" method="post">
                <h2>Are you sure?</h2>
                <input class="btn red pull-right" type="submit" value="Delete"></input>
                <a class="btn blue pull-right" href="{{url_for('restaurantMenu', id=restaurant.id)}}">Cancel</a>
            </form>

        </div>
        
    </div>
</body>

</html>
