<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">
    <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1 class="title">{{ restaurant.name }}</h1>
            <h2 class="title">New Menu Item</h2>
        </div>
        <div class="content">

            <form class="section" action="#" method="post">
                <label>Menu Item Name:</label>
                <input type="text" name="name"/>
                <label>Course:</label>
                <input type="text" name="course"/>
                <label>Price:</label>
                <input type="text" name="price"/>
                <label>Description:</label>
                <input type="text" name="description"/>
                <input class="btn green pull-right" type="submit" value="Save"></input>
                <a class="btn blue pull-right" href="{{url_for('restaurantMenu', id=restaurant.id)}}">Cancel</a>
            </form>

        </div>
        
    </div>
</body>

</html>
